# Virtual Environment
bot/
venv/
env/

# Environment Variables
.env
*.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
